name: Deploy Application

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: List files for debugging
      run: ls -la
      shell: bash

    - name: Setup FTP deployment
      uses: SamKirkland/FTP-Deploy-Action@4.3.0
      with:
        server: ftp.findmyproperties.xyz
        username: courier_system@findmyproperties.xyz
        password: courier_system@findmyproperties.xyz
        local-dir: ./
        server-dir: /courier_system/
        exclude: .gitignore
